# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Download repository
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Set up JDK
      uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: 21
        distribution: 'temurin'
 
    - name: Cache Maven packages
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      env:
        cache-name: cache-mvn-temu-21
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-

    - uses: sfesenko/setup-sdkman@c360e935fffb3cfa33eddd5748464329240cfd89 # v1
    - run: |
        source ~/.sdkman/bin/sdkman-init.sh

    - name: Build
      run: make clean build

    - name: Test
      run: make clean test

    - name: Verify code coverage meets minimum threshold ( > 70%)
      run: make coverage-generate coverage-check


